html {
    background-image: url("../images/bats.gif");
}

body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    color: orange;
}

a:link, a:focus{
    color: orange;
}

a:hover, a:focus {
    color: green
}




/* Header */
header {
    background-image: linear-gradient(45deg,white 0%, orange 75%, black 100%);
    padding: 15px;
    border-bottom: 2px solid black;
}
header img {
    float: left;
    padding-right: 15px;
}
header h2 {
    font-size: 230%;
}

header h3{
    font-size: 125%;
}

/* Main */
main {
    padding: 20px 25px 25px 25px;
}
main h1{
    font-size: 140%;    
    margin-bottom: .5em;
}
main h1:first-letter {
    font-size: 240%;
}
main h2{
    font-size: 125%;
    margin: .8em 0 .5em 0;
}

main h3{
    font-size: 110%;
    margin-bottom: .5em;
}
main p {
    margin-bottom: .5em;
}
main ul {
    margin-top: 0;
}

/* Footer */
footer p{
    font-size: 90%;
    text-align: center;
}