html {
    background-image: url("../images/images/bats.gif");
}

body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    color: orange;
}

a:link, 
a:visited {
    color: orange;
}

a:hover, 
a:focus {
    color: green
}




/* Header */
header {
    background-image: linear-gradient(45deg,white 0%, orange 75%, black 100%);
    padding: 15px;
    border-bottom: 2px solid black;
}
header img {
    float: left;
    padding-right: 15px;
}
header h2 {
    font-size: 230%;
}

header h3{
    font-size: 125%;
}

/*Sidebar */
aside {
    float: left;
    width: 160px;
    padding: 20px 0;
}

aside ul {
    line-height: 1.5;
}

/* Section */
section {
    width: 500px;
    float: right;
    padding: 20px 40px 20px 20px;
}

section h1 {
    font-size: 140%;
    margin-bottom: .5em;
}

section h1:first-letter {
    font-size: 240%;
}

section h2 {
    font-size: 125%;
    margin: .8em 0 .5em 0;
}

section h3 {
    font-size: 110%;
    margin: .8em 0 .5em 0;
}

sction p {
    margin-bottom: .5em;
}

/* Footer */
footer {
    clear: both;
    border-top: 2px solid black;
    padding: 15px;
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
}

footer p{
    font-size: 90%;
    text-align: center;
}
